JD_AI_MODEL=qwen
JD_AI_VISION_MODEL=qwen-vl-plus
JD_AI_API_KEY=
JD_AI_BASE_URL=https://dashscope.aliyuncs.com

JD_MYSQL_HOST=127.0.0.1
JD_MYSQL_PORT=3306
JD_MYSQL_USER=
JD_MYSQL_PASSWORD=
JD_MYSQL_DATABASE=auction_data
